In [82]:
import pandas as pd
import numpy as np
import os

# Current Food Expenditure
### monthly_sales.xlsx 
### How much money do people spend on food each month over the years? At home and eating out
### Constant_dollar_expenditures.xlsx
### How much money do people spend on food at various places over the years?

In [83]:
df = pd.read_excel("./Current Food Expenditure Series/monthly_sales.xlsx")
df.columns = ["year", "month", "nominal_fah", "nominal_fafh", "total_nominal_sales","constant_fah", "constant_fafh", "total_constant_sales"]
df = df[3:307]
nominal_df = df.drop(["constant_fah", "constant_fafh", "total_constant_sales"], axis=1)
constant_df = df.drop(["nominal_fah", "nominal_fafh", "total_nominal_sales"], axis=1)
constant_df

     year     month  constant_fah constant_fafh total_constant_sales
3    2022     April  34002.635067  36929.671757         71287.148438
4    2022     March  34824.211858   36354.95578         71544.703125
5    2022  February  31201.639703  31641.400257          63231.53125
6    2022   January  34193.130163  31167.138998            65644.625
7    2021  December  39812.382018  35174.116846          75284.40625
..    ...       ...           ...           ...                  ...
302  1997       May  23930.864198  19579.396001         43341.664062
303  1997     April  22113.338267  18262.821496         40203.570312
304  1997     March  23242.047249  18461.652296         41553.273438
305  1997  February  20717.786082  16687.792954         37246.117188
306  1997   January      22293.45      16833.07             38992.48

[304 rows x 5 columns]

In [84]:
nominal_df

     year     month   nominal_fah  nominal_fafh total_nominal_sales
3    2022     April  82210.930622  97981.627364         180192.5625
4    2022     March  83138.289458  95899.329167          179037.625
5    2022  February  73408.654762  83255.727437          156664.375
6    2022   January  79316.716734  81647.739778       160964.453125
7    2021  December  91274.864912  91539.302412       182814.171875
..    ...       ...           ...           ...                 ...
302  1997       May  32314.481963  25119.875324        57434.355469
303  1997     April  29860.404448   23415.49901        53275.902344
304  1997     March  31424.531526  23639.934077        55064.464844
305  1997  February  28011.670771  21313.628076        49325.300781
306  1997   January      30180.34      21457.68            51638.02

[304 rows x 5 columns]

In [85]:
paths = ["./Current Food Expenditure Series/constant_dollar_expenditures.xlsx","./Current Food Expenditure Series/nominal_expenditures.xlsx"]
dirname = "food-expenditure-clean"
os.mkdir(dirname)

for path in paths:
    df = pd.read_excel(path)
    df.columns = df.iloc[3]
    df = df[4:29]
    year = df["Year"].tolist()
    result_dict = {col: i for i, col in enumerate(list(df.columns)) if "Total" in col} 
    df = df.drop("Year", axis=1)

    start_pos = 0

    for key, end_pos in result_dict.items():
        new_df = df.iloc[:, start_pos:end_pos]
        new_df.insert(0, "year", year)
        
        prefix = path.split("/")[2].split("_")[0]
        filename = prefix + "-" + key.lower().replace(" ", "-")
        new_df.to_csv(f"{dirname}/{filename}.csv", index=False)
        start_pos = end_pos + 1

In [86]:
s = "./Current Food Expenditure Series/nominal_expenditures.xlsx"
s = s.split("/")[2]
s = s.split("_")[0]
s

'nominal'