In [69]:
import boto3
import os
from dotenv import load_dotenv
from smart_open import smart_open
from typing import Optional
import pandas as pd
import numpy as np

class S3AWS:
    """
    S3AWS represents aws object storage s3. It handles necessary features including
    authenticating to access to s3, and creating bucket to store the ingested data
    """
    def __init__(self, access_key_id: Optional[str], secret_key_id: Optional[str]):
        self.access_key_id = access_key_id
        self.secret_key_id = secret_key_id

    def create_bucket(self, bucket_name: str):
        """
        Create S3 bucket with bucket_name
        """
        client = boto3.client('s3', 
                           aws_access_key_id=self.access_key_id,
                           aws_secret_access_key=self.secret_key_id)
        client.create_bucket(Bucket=bucket_name)

        return client

    def load_df(self, bucket_name: str, key: str, type: str, sheet: int) -> pd.DataFrame:
        path = f"s3://{self.access_key_id}:{self.secret_key_id}@{bucket_name}/{key}"
        if type == "csv":
            return pd.read_csv(smart_open(path))
        elif type == "xls":
            return pd.read_excel(smart_open(path), sheet)
        
    def df_to_s3(self, dataframe: pd.DataFrame, bucket_name: str, key: str, ) -> None:
        s3_bucket = self.create_bucket(bucket_name)
        if s3_bucket:
            s3_bucket.put_object(Bucket=bucket_name, Body=dataframe.to_csv(None).encode(), Key=key)

In [70]:
load_dotenv()
s3 = S3AWS(os.getenv("ACCESS_KEY_ID"),os.getenv("SECRET_ACCESS_KEY"))
df_raw = s3.load_df("s3-bucket-raw-usda", "loss-adjusted-food-availability/calories.xls", "xls", 1)
df_raw.head()

,"Average daily per capita calories from the U.S. food availability, adjusted for spoilage and other waste",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Year,"Meat, eggs, and nuts",Dairy,Fruit,Vegetables,Flour and cereal products**,Added fats and oils and dairy fats*,Sugar and sweeteners (Added),Total
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1970,508.895424,250.291001,71.242053,135.44114,409.802437,346.18452,332.539441,2054.396014

In [71]:
df = df_raw.copy()
df.columns = df.iloc[0]
last_index = df[df['Year'] == 2017].index[0] + 1
df = df[4: last_index]
df = df.set_index("Year")
fod_median = df["Added fats and oils and dairy fats*"].median()
total_median = df["Total"].median()
df["Added fats and oils and dairy fats*"] = df["Added fats and oils and dairy fats*"].fillna(fod_median)
df["Total"] = df["Total"].fillna(total_median)
df

,"Meat, eggs, and nuts",Dairy,Fruit,Vegetables,Flour and cereal products**,Added fats and oils and dairy fats*,Sugar and sweeteners (Added),Total
Year,,,,,,,,
1970,508.895424,250.291001,71.242053,135.44114,409.802437,346.184520,332.539441,2054.396014
1971,516.361737,250.838785,73.058372,133.028418,403.733801,341.927818,335.319288,2054.268219
1972,515.380701,248.879915,68.71739,132.679686,399.035074,353.225707,339.185262,2057.103735
1973,486.202095,247.493426,71.771854,132.53015,410.792148,356.921131,340.257027,2045.967830
1974,502.622716,240.660385,72.5649,127.587458,406.397868,349.165931,328.810522,2027.809780
1975,494.111343,239.779865,75.998119,131.566708,415.616719,350.567626,317.701931,2025.342311
1976,516.431127,241.377387,77.274811,132.429937,429.822414,367.480149,334.509681,2099.325505
1977,512.02925,240.129874,77.642956,131.711948,417.396023,353.091598,342.454411,2074.456061
1978,506.419883,238.965042,77.612194,126.79488,427.027106,363.768219,338.537446,2079.124771
1979,501.201704,236.70968,77.126924,129.653459,431.280757,371.543777,341.95943,2089.475730
1980,496.116488,233.011829,82.746915,127.254765,437.101586,372.279768,335.356284,2083.867634
1981,501.177162,231.09008,78.935531,125.617743,437.205607,370.429146,334.096441,2078.551710
1982,494.682956,234.357583,81.253282,129.013418,436.293226,372.156287,328.366659,2076.123411
1983,505.13583,237.638989,88.110993,130.589353,438.024496,387.168872,332.845792,2119.514326
1984,509.208581,241.953873,84.79557,131.489983,447.758776,401.601526,339.694085,2156.502395
1985,517.870237,246.141727,85.810054,134.362732,475.564,424.125328,351.871817,2235.745895
1986,515.391112,247.207452,89.098169,136.198285,490.055635,431.180495,346.812239,2255.943387
1987,510.612631,249.376313,90.739575,134.169168,513.163867,426.799257,359.373641,2284.234452
1988,517.471615,244.522495,88.820036,135.289511,525.76838,432.940613,363.152977,2307.965628
1989,508.479323,240.525267,91.078671,136.008699,521.134628,412.680969,357.958746,2267.866303
1990,500.928256,241.28116,87.533919,136.323164,540.728268,411.483120,368.839483,2287.117368
1991,503.898442,240.532152,87.33951,143.145761,543.02254,419.496530,369.915451,2307.350386
1992,511.530748,241.01788,90.614501,142.292702,551.18904,432.948485,377.838576,2347.431932
1993,509.128621,236.808828,93.240678,146.276336,567.055051,452.863118,386.362286,2391.734918
1994,513.785827,240.161278,93.884295,145.742079,571.442409,442.523939,394.083541,2401.623368
1995,511.728563,238.504975,90.549614,145.54556,566.665548,433.758079,401.35336,2388.105699
1996,508.89222,236.934173,93.011327,149.905973,588.42437,423.659003,403.307493,2404.134558
1997,507.780593,235.640345,93.955952,145.560188,589.096648,426.774481,413.208009,2412.016216
1998,521.336074,235.363433,95.110614,143.239895,582.001499,425.478324,416.108992,2418.638830
1999,537.862105,237.921139,97.542532,145.617141,586.440495,443.683227,422.557402,2471.624042
2000*,534.293555,237.225365,93.988707,146.431497,596.499286,536.870767,415.378184,2560.687362
2001,529.984689,236.151347,91.634346,146.038221,583.996573,547.718632,410.187045,2545.710853
2002,546.485868,237.221873,91.211683,141.153435,572.650978,577.044274,407.738285,2573.506396
2003,546.584234,236.619341,91.74484,146.257979,575.439467,574.603246,394.347321,2565.596428
2004,553.739256,238.361492,92.460273,142.89212,570.42581,573.191546,394.890833,2565.961330
2005,546.137535,237.619199,90.245767,136.881125,571.473054,572.772383,396.093309,2551.222372
2006,549.992517,237.331732,89.232801,138.666949,580.195344,571.388654,386.841634,2553.649632
2007,548.038359,237.000179,88.645841,138.062247,589.29148,584.085505,377.141889,2562.265500
2008,533.940533,234.188123,86.101508,130.967776,586.352449,593.714824,377.734454,2542.999667
2009,527.169809,236.742262,84.232983,126.403719,580.37534,550.678078,363.179269,2468.781462
2010,525.704168,235.383666,85.689934,130.070147,581.229759,575.164695,367.344629,2500.586997
2011,514.683708,232.728108,83.708392,125.476252,520.129575,425.478324,361.176306,2307.350386
2012,513.187889,233.987969,82.443375,130.138329,524.771446,425.478324,361.106281,2307.350386
2013,515.169303,229.638592,86.185547,128.317104,526.623399,425.478324,358.012609,2307.350386
2014,513.61372,228.505492,84.915638,130.446014,525.774717,425.478324,360.571982,2307.350386
2015,532.422346,233.393644,85.181358,133.288172,521.262642,425.478324,360.604311,2307.350386
2016,544.31501,234.880519,84.897131,132.120848,518.099051,425.478324,357.661939,2307.350386
2017,553.542682,235.504466,83.394143,137.879149,522.299901,425.478324,355.579294,2307.350386

In [72]:
bucket_name = "s3-bucket-clean-usda"
obj_key = "loss-adjusted-food-availability-clean/calories_total.xls"
s3.df_to_s3(df, bucket_name, obj_key)