In [214]:
import pandas as pd
import os

# Nutrient Intake Estimate
## Nutrient_table1.xls
### How much nutrients (energy, calcium, cholesterol, Fiber, Ion, total fat, sodium) each  demographic group on daily (children age 2-9, adults age 20-64, senior age 65 and above) take (2015-2016, 2017-2018)

In [255]:
dirname = "Nutrient Intake Estimates/"
df_raw = pd.read_excel(f"{dirname}nutrient_table1.xlsx")
df = df_raw.copy()

In [256]:
col_names = [
    "nutrient-group",
    "total-2015-2016",
    "at-home-2015-2016",
    "total_afh-2015-2016",
    "restaurant-2015-2016",
    "fast-food-2015-2016",
    "school-2015-2016",
    "other_afh-2015-2016",
    "total-2017-2018",
    "at-home-2017-2018",
    "total_afh-2017-2018",
    "restaurant-2017-2018",
    "fast-food-2017-2018",
    "school-2017-2018",
    "other_afh-2017-2018",
    ]
# nutrient_group = ["energy (calories)", "calcium (mg)", "cholesterol (mg)", "fiber (g)", "iron (mg)", "saturated fat (g)", "total fat (g)", "sodium (mg)"]

df.columns = col_names
end = 0
for val in df[col_names[0]].unique():
    if "Note" in str(val):
        end = df[df[col_names[0]] == val].index[0]
df = df[3:end]
df.tail()

,nutrient-group,total-2015-2016,at-home-2015-2016,total_afh-2015-2016,restaurant-2015-2016,fast-food-2015-2016,school-2015-2016,other_afh-2015-2016,total-2017-2018,at-home-2017-2018,total_afh-2017-2018,restaurant-2017-2018,fast-food-2017-2018,school-2017-2018,other_afh-2017-2018
62,Adults age 20–642,3693.89,2271.5,1422.4,443.32,738.23,NaN,240.85,3629.69,2177.55,1452.14,451.2,767.91,NaN,233.03
63,Seniors age 65 and above2,2946.6,2100.85,845.76,354.47,264.15,NaN,227.14,3156.29,2260.46,895.83,399.11,286.35,NaN,210.37
64,Household income < 185% poverty line,3312.31,2159.75,1152.56,288.21,547.93,81.83,234.59,3257.18,2057.37,1199.8,256.02,662.61,62.44,218.74
65,Household income 185–300% poverty line,3393.5,2196.14,1197.36,324.62,575.94,54.88,241.91,3416.97,2307.7,1109.27,283.97,620.01,44.76,160.53
66,Household income > 300% poverty line,3512.72,2093.61,1419.11,477.3,692.4,29.03,220.38,3506.42,2087.39,1419.03,525.07,635.48,18.91,239.56

In [252]:
s = 'Note: NA = not available.'
"Note" in s

True

In [217]:
def change_name(input_str: str) -> str:
    input_str = input_str.strip()
    if input_str == "Total population1":
        return "Total population"
    if input_str == "Adults age 20–642":
        return "Adults age 20-64"
    if input_str == "Seniors age 65 and above2":
        return "Seniors age 65 and above"
    return input_str

In [218]:

nutrient_group = []
for i, row in df.iterrows():
    if "(" in row["nutrient-group"]:
        nutrient_group.append(row["nutrient-group"])
        df = df.drop(i)

In [219]:
df['nutrient-group'] = df['nutrient-group'].apply(lambda x: change_name(x))
demographics = df['nutrient-group'].unique()

In [220]:
new_dir = dirname.lower().replace(" ", "-")[:-1] + "-clean"
os.mkdir(new_dir)
for demo in demographics:
    new_df = df[df['nutrient-group'] == demo]
    new_df = new_df.drop(columns='nutrient-group')
    df1, df2 = new_df.iloc[:, 1:7], new_df.iloc[:, 8:]
    df1.insert(0, 'nutrient-group', nutrient_group)
    df2.insert(0, 'nutrient-group', nutrient_group)
    
    df1_postfix = list(df1.columns)[1][8:]
    df2_postfix = list(df2.columns)[1][8:]

    df1.to_csv(f"{new_dir}/{demo}-{df1_postfix}.csv", index=False)
    df2.to_csv(f"{new_dir}/{demo}-{df2_postfix}.csv", index=False)

# Food consumption Estimate
## Food_table1.xls
### How much food group consumption (sugar, fat, oil, dairy, fruit, vegie, grain, protient) each  demographic group on daily (children age 2-9, adults age 20-64, senior age 65 and above) take (2015-2016, 2017-2018)

In [291]:
os.system("rm -rf food-consumption-estimates-clean")

0

In [292]:
dirname = "Food Consumption Estimates/"
df_raw = pd.read_excel(f"{dirname}food_table1.xlsx")
df = df_raw.copy()

In [293]:
col_names = [
    "food-group",
    "total-2015-2016",
    "at-home-2015-2016",
    "total_afh-2015-2016",
    "restaurant-2015-2016",
    "fast-food-2015-2016",
    "school-2015-2016",
    "other_afh-2015-2016",
    "total-2017-2018",
    "at-home-2017-2018",
    "total_afh-2017-2018",
    "restaurant-2017-2018",
    "fast-food-2017-2018",
    "school-2017-2018",
    "other_afh-2017-2018",
    ]

df.columns = col_names
end = 0
for val in df[col_names[0]].unique():
    if 'Note' in str(val):
        end = df[df[col_names[0]] == val].index[0]

df = df[3:end]
df

,food-group,total-2015-2016,at-home-2015-2016,total_afh-2015-2016,restaurant-2015-2016,fast-food-2015-2016,school-2015-2016,other_afh-2015-2016,total-2017-2018,at-home-2017-2018,total_afh-2017-2018,restaurant-2017-2018,fast-food-2017-2018,school-2017-2018,other_afh-2017-2018
3,Added sugar (tsp),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total population1,16.2,11.31,4.89,0.94,2.26,0.2,1.48,16.94,12.13,4.81,0.85,2.53,0.17,1.26
5,Children age 2–19,16.05,10.33,5.72,0.8,2.25,0.85,1.82,16.55,11.15,5.4,0.61,2.66,0.73,1.4
6,Adults age 20–642,17.18,12.05,5.13,1,2.65,NaN,1.49,17.76,12.68,5.07,0.96,2.89,NaN,1.22
7,Seniors age 65 and above2,12.73,10,2.73,0.92,0.83,NaN,0.98,14.37,11.49,2.87,0.79,0.93,NaN,1.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,Adults age 20–642,6.6,4.28,2.32,0.82,1.12,NaN,0.38,6.46,4.1,2.36,0.8,1.18,NaN,0.38
111,Seniors age 65 and above2,5.26,3.9,1.36,0.59,0.45,NaN,0.32,5.82,4.24,1.58,0.73,0.48,NaN,0.37
112,Household income < 185% poverty line,5.4,3.62,1.78,0.54,0.78,0.1,0.37,5.39,3.49,1.91,0.48,1.02,0.07,0.34
113,Household income 185–300% poverty line,5.67,3.84,1.83,0.58,0.82,0.06,0.37,5.85,4.06,1.79,0.52,0.99,0.04,0.24
114,Household income > 300% poverty line,6.23,3.94,2.29,0.86,1.06,0.04,0.33,6.27,4.01,2.25,0.9,0.93,0.02,0.4

In [294]:
s = "Added sugar (tsp)"
"(" in s

True

In [295]:
food_group = []
for i, row in df.iterrows():
    if "(" in row["food-group"]:
        food_group.append(row["food-group"])
        df = df.drop(i)
food_group

['Added sugar (tsp)',
 'Discretionary fats (g)',
 'Discretionary oils (g)',
 'Dairy (cup)',
 'Fruit (cup)',
 'Vegetables: total (cup)',
 'Vegetables: potatoes (cup)',
 'Vegetables: tomatoes (cup)',
 'Vegetables: red and orange without tomatoes (cup)',
 'Vegetables: dark green (cup)',
 'Grains: total (oz)',
 'Grains: refined (oz)',
 'Grains: whole (oz)',
 'Protein foods (oz)']

In [296]:
df['food-group'] = df['food-group'].apply(lambda x: change_name(x))
demographics = df['food-group'].unique()

In [297]:
new_dir = dirname.lower().replace(" ", "-")[:-1] + "-clean"
os.mkdir(new_dir)
for demo in demographics:
    new_df = df[df['food-group'] == demo]
    new_df = new_df.drop(columns='food-group')
    df1, df2 = new_df.iloc[:, 1:7], new_df.iloc[:, 8:]
    df1.insert(0, 'food-group', food_group)
    df2.insert(0, 'foood-group', food_group)
    
    df1_postfix = list(df1.columns)[1][8:]
    df2_postfix = list(df2.columns)[1][8:]

    df1.to_csv(f"{new_dir}/{demo}-{df1_postfix}.csv", index=False)
    df2.to_csv(f"{new_dir}/{demo}-{df2_postfix}.csv", index=False)